<h1>Kanojo</h1>
<p>
    <%= link_to "Login", login_path %>
</p>

<p>
    Signup to become a 
    <%= link_to "User", signup_user_path%>
    OR A
    <%= link_to "Girlfriend", signup_girlfriend_path %>
</p>